<div class="sidebar-content">
  <div class="nav-section">
    <h3>Listy do przeglądania:</h3>
    <mat-nav-list>
      <a mat-list-item class="nav-link" routerLink="/players">Gracze</a>
      <a mat-list-item class="nav-link" routerLink="/countries">Hrabstwa</a>
      <a mat-list-item class="nav-link" routerLink="/boroughs">Gminy</a>
      <a mat-list-item class="nav-link" routerLink="/players-me">O mnie</a>
    </mat-nav-list>
  </div>

  <div class="admin-button-wrapper">
    <button mat-raised-button color="primary" routerLink="admin-login" class="admin-button">
      Przejdź do panelu admina
    </button>
  </div>
</div>