<h1>Dawni szeryfowie</h1>

<button mat-raised-button color="warn" [routerLink]="['/admin/historical-sheriffs/filtered']" class="button-margin-basic">Filtruj
  <mat-icon color="accent">filter</mat-icon>
</button>

<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="countryId">
      <th mat-header-cell *matHeaderCellDef> Hrabstwo </th>
      <td mat-cell *matCellDef="let element"> {{countryMap.get(element.countryId)}} </td>
    </ng-container>
  
    <ng-container matColumnDef="playerId">
      <th mat-header-cell *matHeaderCellDef> Gracz </th>
      <td mat-cell *matCellDef="let element"> {{playerMap.get(element.playerId)}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Od </th>
        <td mat-cell *matCellDef="let element"> {{ element.startDate | date: 'dd.MM.yyyy HH:mm:ss' }} </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Do </th>
        <td mat-cell *matCellDef="let element"> {{ element.endDate | date: 'dd.MM.yyyy HH:mm:ss' }} </td>>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50]"
    [pageSize]="25" showFirstLastButtons [length]="totalElements">
  </mat-paginator>
