@import '/src/variables.scss';

table {
    width: 100%;
}

::ng-deep .yellow-tooltip {
    background-color: $color-yellow-tooltip !important;
    color: black !important;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
}
.button-margin{
    margin: 5px;
}