<h1>Niezatwierdzone opinie</h1>

<button mat-raised-button color="warn" [routerLink]="['/admin/player-reviews']" class="button-margin">
    <mat-icon color="accent">arrow_back</mat-icon>Powrót
</button>

<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="authorName">
        <th mat-header-cell *matHeaderCellDef> Nick dodającego opinie </th>
        <td mat-cell *matCellDef="let element"> {{element.authorName}} </td>
    </ng-container>

    <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Nota </th>
        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
    </ng-container>

    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Treść opinii </th>
        <td mat-cell *matCellDef="let element"> {{ element.content }} </td>
    </ng-container>

    <ng-container matColumnDef="actualGold">
        <th mat-header-cell *matHeaderCellDef> Ilość złota </th>
        <td mat-cell *matCellDef="let element"> {{element.actualGold}} </td>
    </ng-container>

    <ng-container matColumnDef="player">
        <th mat-header-cell *matHeaderCellDef> Gracz </th>
        <td mat-cell *matCellDef="let element"> {{element.player.name}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Data dodania opinii</th>
        <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element" fxLayoutAlign="row">
            <button mat-icon-button (click)="acceptReview(element)" matTooltip="Zaakceptuj opinię"
                matTooltipPosition="above">
                <mat-icon color="primary">check_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="confirmDelete(element)" matTooltip="Usuń na stałe"
                matTooltipPosition="above">
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>