<h1>Lista hrabstw</h1>

<button mat-raised-button color="warn" [routerLink]="['/admin/countries/add']" class="button-margin-basic">Dodaj
  hrabstwo
  <mat-icon color="accent">add</mat-icon>
</button>
<button mat-raised-button color="accent" [routerLink]="['/admin/historical-sheriffs']"
  class="button-margin-basic">Sprawdź historię szeryfów
  <mat-icon color="warn">history</mat-icon>
</button>

<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nazwa </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="slug">
    <th mat-header-cell *matHeaderCellDef> Slug </th>
    <td mat-cell *matCellDef="let element"> {{element.slug}} </td>
  </ng-container>

  <ng-container matColumnDef="actualSheriffId">
    <th mat-header-cell *matHeaderCellDef> Szeryf </th>
    <td mat-cell *matCellDef="let element"> {{ playerMap.get(element.actualSheriffId) }} </td>
  </ng-container>

  <ng-container matColumnDef="goldLimit">
    <th mat-header-cell *matHeaderCellDef> Limit złota </th>
    <td mat-cell *matCellDef="let element"> {{element.goldLimit}} </td>

  </ng-container>

  <ng-container matColumnDef="sheriffStartDate">
    <th mat-header-cell *matHeaderCellDef> Rozpoczęcie urzędowania </th>
    <td mat-cell *matCellDef="let element"> {{ element.sheriffStartDate | date: 'dd.MM.yyyy HH:mm:ss' }} </td>

  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Akcje </th>
    <td mat-cell *matCellDef="let element" fxLayoutAlign="row">
      <button mat-icon-button [routerLink]="['/admin/countries/update', element.id]">
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/admin/countries', element.id, 'changeSheriff']">
        <mat-icon color="warn">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="25" showFirstLastButtons [length]="totalElements">
</mat-paginator>