:host {
    display: block;
    height: 100%;
  }
  
  .main-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  
  .form-container {
    min-width: 300px;
  }
  
  mat-form-field {
    width: 450px;
    .mat-form-field-wrapper {
      padding: 0 12px;
    }
  }
  
  // .chart-container {
  //   flex: 1;
  //   max-width: 900px;
  //   min-width: 500px;
  //   height: 600px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  // canvas {
  //   width: 100% !important;
  //   height: 100% !important;
  // }