:host {
  display: block;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.autocomplete {
  display: flex;
  justify-content: center;
  width: 100%;
}

.country {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

canvas {
  width: 100% !important;
  height: auto !important;
}