<h1>Historia złota w gminach (filtruj)</h1>

<form fxLayout="column" [formGroup]="dataForm">

  <div fxLayout="row">
    <app-borough-autocomplete [control]="borough" label="Wybierz gminę">
      </app-borough-autocomplete>

    <app-player-autocomplete [label]="'Wprowadzający'" [control]="goldAddedBy">
    </app-player-autocomplete>

  </div>

  <div fxLayout="row">

    <mat-form-field appearance="fill" class="dataInput">
      <mat-label>Od</mat-label>
      <input matInput placeholder="Podaj datę rozpoczęcia" formControlName="startDate" [matDatepicker]="startDate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="dataInput">
      <mat-label>Do</mat-label>
      <input matInput placeholder="Podaj datę zakończenia" formControlName="endDate" [matDatepicker]="endDate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="dataInput">
      <mat-label>Czy wysłano email?</mat-label>
      <mat-select formControlName="emailSend">
        <mat-option [value]="true">Tak</mat-option>
        <mat-option [value]="false">Nie</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <button mat-raised-button color="warn" (click)="submit()">Filtruj
    <mat-icon color="accent">filter</mat-icon>
  </button>

</form>

<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="boroughId">
    <th mat-header-cell *matHeaderCellDef> Gmina </th>
    <td mat-cell *matCellDef="let element"> {{boroughMap.get(element.boroughId)}} </td>
  </ng-container>

  <ng-container matColumnDef="gold">
    <th mat-header-cell *matHeaderCellDef> Złoto </th>
    <td mat-cell *matCellDef="let element"> {{element.gold}} </td>
  </ng-container>

  <ng-container matColumnDef="goldAddedBy">
    <th mat-header-cell *matHeaderCellDef> Wprowadzone przez </th>
    <td mat-cell *matCellDef="let element"> {{playerMap.get(element.goldAddedBy)}} </td>
  </ng-container>

  <ng-container matColumnDef="dateAdded">
    <th mat-header-cell *matHeaderCellDef> Dodano </th>
    <td mat-cell *matCellDef="let element"> {{ element.dateAdded | date: 'dd.MM.yyyy HH:mm:ss' }} </td>
  </ng-container>

  <ng-container matColumnDef="emailSend">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.emailSend ? 'Tak' : 'Nie'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>