
<h1>Lista gmin</h1>

<button mat-raised-button color="warn" [routerLink]="['/admin/boroughs/add']">Dodaj gminę
  <mat-icon color="accent">add</mat-icon>
</button>
<!-- <button mat-raised-button color="accent" [routerLink]="['/admin/historical-sheriffs']">Sprawdź historię wójtów
  <mat-icon color="warn">history</mat-icon>
</button> -->

<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="slug">
      <th mat-header-cell *matHeaderCellDef> Slug </th>
      <td mat-cell *matCellDef="let element"> {{element.slug}} </td>
    </ng-container>

    <ng-container matColumnDef="countryId">
        <th mat-header-cell *matHeaderCellDef> Hrabstwo </th>
        <td mat-cell *matCellDef="let element"> {{element.countryId}} </td>
    </ng-container>

    <ng-container matColumnDef="actualLeaderId">
        <th mat-header-cell *matHeaderCellDef> Wójt </th>
        <td mat-cell *matCellDef="let element"> {{element.actualLeaderId}} </td>
    </ng-container>

    <ng-container matColumnDef="leaderStartDate">
        <th mat-header-cell *matHeaderCellDef> Rozpoczęcie urzędowania </th>
        <td mat-cell *matCellDef="let element"> {{ element.leaderStartDate | date: 'dd.MM.yyyy HH:mm:ss' }} </td>
    </ng-container>

      <ng-container matColumnDef="actualGold">
        <th mat-header-cell *matHeaderCellDef> Ilość złota </th>
        <td mat-cell *matCellDef="let element"> {{element.actualGold}} </td>
      </ng-container>
  
      <ng-container matColumnDef="goldAddedBy">
          <th mat-header-cell *matHeaderCellDef> Złoto dodał</th>
          <td mat-cell *matCellDef="let element"> {{element.goldAddedBy}} </td>
      </ng-container>

      <ng-container matColumnDef="dateAdded">
        <th mat-header-cell *matHeaderCellDef> Data dodania złota</th>
        <td mat-cell *matCellDef="let element"> {{ element.dateAdded | date: 'dd.MM.yyyy HH:mm:ss' }} </td>
    </ng-container>

    <ng-container matColumnDef="emailSend">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.emailSend ? 'Tak' : 'Nie'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element" fxLayoutAlign="row">
          <button mat-icon-button [routerLink]="['/admin/boroughs/update', element.id]">
            <mat-icon color="primary">edit</mat-icon>
          </button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50]"
    [pageSize]="25" showFirstLastButtons [length]="totalElements">
  </mat-paginator>