<!-- <header flexLayout="column" fxLayoutAlign="start center">
    <button mat-flat-button color="accent"routerLink="" class="button-margin">Strona główna</button>
    <button mat-flat-button color="warn" routerLink="/players" class="button-margin">Gracze</button>
</header> -->
<app-header></app-header>
  
<div flexLayout="row" fxFlex>
    <div fxFlex="20">
        <div fxFlex>
            <app-sidenav></app-sidenav>
            <mat-divider class="my-divider"></mat-divider>
        </div>
    </div>
    <div fxFlex="80" class="content">
        <router-outlet></router-outlet>
    </div>
</div>
