<h1>Edycja gracza</h1>

<form fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input matInput placeholder="Podaj nazwę gracza">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Slug</mat-label>
        <input matInput placeholder="Podaj slug">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Podaj email gracza">
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Klan</mat-label>
        <input matInput placeholder="Podaj klan gracza">
      </mat-form-field>

      <div fxLayoutAlign="end">
        <button mat-flat-button color="accent">Zapisz</button>
      </div>

</form>