<h1>Dodawanie gracza</h1>

<form fxLayout="column" [formGroup]="playerForm" (submit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input matInput placeholder="Podaj nazwę gracza" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Slug</mat-label>
        <input matInput placeholder="Podaj slug" formControlName="slug">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Podaj email gracza" formControlName="email">
      </mat-form-field>
      
      <!-- <mat-form-field appearance="fill">
        <mat-label>Klan</mat-label>
        <input matInput placeholder="Podaj klan gracza" formControlName="clan">
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Klan</mat-label>
        <mat-select formControlName="clan">
          <mat-option *ngFor="let clan of clans" [value]="clan">{{ clan }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div fxLayoutAlign="end">
        <button mat-flat-button color="accent" [disabled]="!playerForm.valid">Zapisz</button>
      </div>

</form>
