<h1>Dodawanie gminy</h1>

<form fxLayout="column" [formGroup]="boroughForm" (submit)="submit()">

  <mat-form-field appearance="fill">
    <mat-label>Nazwa</mat-label>
    <input matInput placeholder="Podaj nazwę gminy" formControlName="name">
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
      <div *ngIf="name?.errors?.['required']">
        Nazwa jest wymagana
      </div>
      <div *ngIf="name?.errors?.['minlength']">
        Nazwa musi mieć 3 znaki
      </div>
    </div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Slug</mat-label>
    <input matInput placeholder="Podaj slug" formControlName="slug">
    <div *ngIf="slug?.invalid && (slug?.dirty || slug?.touched)">
      <div *ngIf="slug?.errors?.['required']">
        Slug jest wymagany
      </div>
      <div *ngIf="slug?.errors?.['minlength']">
        Slug musi mieć 3 znaki
      </div>
    </div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Hrabstwo</mat-label>
    <mat-select formControlName="countryId">
      <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
    </mat-select>
    <div *ngIf="country?.invalid && (country?.dirty || country?.touched)">
      <div *ngIf="country?.errors?.['required']">
        Hrabstwo jest wymagane
      </div>
    </div>
  </mat-form-field>

  <app-player-autocomplete [label]="'Wójt'" [control]="actualLeaderId">
  </app-player-autocomplete>


  <mat-form-field appearance="fill" class="dataInput">
    <mat-label>Data rozpoczęcia urzędowania</mat-label>
    <input matInput placeholder="Podaj datę rozpoczęcia urzędowania" formControlName="leaderStartDate"
      [matDatepicker]="leaderStartDate">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="leaderStartDate"></mat-datepicker-toggle>
    <mat-datepicker #leaderStartDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Złoto</mat-label>
    <input matInput placeholder="Podaj ilość złota" formControlName="actualGold">
    <div *ngIf="actualGold?.invalid && (actualGold?.dirty || actualGold?.touched)">
      <div *ngIf="actualGold?.errors?.['required']">
        Złoto jest wymagane
      </div>
      <div *ngIf="actualGold?.errors?.['min']">
        Złoto musi być większe od 1000
      </div>
    </div>
  </mat-form-field>

  <app-player-autocomplete [label]="'Wprowadzający złoto'" [control]="goldAddedBy">
  </app-player-autocomplete>


  <div fxLayoutAlign="end">
    <button mat-flat-button color="accent" [disabled]="!boroughForm.valid">Zapisz</button>
  </div>

</form>