<h1>Dodawanie hrabstwa</h1>

<form fxLayout="column" [formGroup]="countryForm" (submit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input matInput placeholder="Podaj nazwę hrabstwa" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Slug</mat-label>
        <input matInput placeholder="Podaj slug" formControlName="slug">
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
        <mat-label>Szeryf</mat-label>
        <input matInput placeholder="Podaj nazwę szeryfa" formControlName="actualSheriffId">
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Szeryf</mat-label>
        <mat-select formControlName="actualSheriffId">
          <mat-option *ngFor="let player of players" [value]="player.id">{{ player.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
          <mat-label>Złoto</mat-label>
          <input matInput placeholder="Podaj limit złota" formControlName="goldLimit">
      </mat-form-field>

    <div fxLayoutAlign="end">
        <button mat-flat-button color="accent">Zapisz</button>
    </div>

</form>