<h2 class="sidebar-title">Tabele do edycji</h2>

<mat-selection-list [multiple]="false">
  <mat-list-option>
    <button mat-flat-button color="primary" routerLink="/admin/players">Gracze</button>
  </mat-list-option>
  <mat-list-option>
    <button mat-flat-button color="accent" routerLink="/admin/countries">Hrabstwa</button>
  </mat-list-option>
  <mat-list-option>
    <button mat-flat-button color="warn" routerLink="/admin/boroughs">Gminy</button>
  </mat-list-option>
  <mat-list-option>
    <button mat-flat-button color="primary" routerLink="/admin/player-revievs">Opinie o graczach</button>
  </mat-list-option>
</mat-selection-list>

<mat-divider class="my-divider"></mat-divider>

<h2 class="sidebar-title">Rejestracja nowego użytkownika</h2>
<div class="center-button">
  <button mat-raised-button color="primary" routerLink="/admin/register">+ Dodaj użytkownika</button>
</div>

<mat-divider class="my-divider"></mat-divider>

<h2 class="sidebar-title">Wykresy</h2>

<mat-selection-list [multiple]="false">
  <mat-list-option>
    <button mat-flat-button color="primary" routerLink="/admin/charts/gold-clans" disabled>Złoto na klany</button>
  </mat-list-option>
  <mat-list-option>
    <button mat-flat-button color="accent" routerLink="/admin/charts/clans-in-country">Klany w hrabstwie</button>
  </mat-list-option>
  <mat-list-option>
    <button mat-flat-button color="warn" routerLink="/admin/charts/players-in-country">Ilość gmin na gracza</button>
  </mat-list-option>
  <mat-list-option>
    <button mat-flat-button color="primary" routerLink="admin/charts/gold-in-borough">Zmiany złota w gminie</button>
  </mat-list-option>
</mat-selection-list>
